body {
    margin: 1rem;
    background-color: #000a27;
    font-family: "Roboto", system-ui;
}

h1 {
    color: white;
}

.hide {
    display: none;
}

#content {
    display: flex;
    flex: 1;
    border: 1px solid black;
    padding: 0.5rem;
    background-color: rgb(50, 0, 90);
    border-radius: 1rem;
    z-index: 10;
    width: 30rem;
    margin-top: 1rem;
}

.imagem {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem img {
    width: auto;
    height: auto;
    border-radius: 1rem;
}

.items {
    margin-left: 1rem;
    color: white;
    width: 100%;
    height: 100%;
    text-align: start;
}

h3, h5 {
    text-align: start;
}

.pages {
    width: 95%;
    text-align: end;
    height: auto;
    margin-top: 4rem;
}

.pesquisas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.pesquisas input {
    height: 2rem;
    border-radius: 0.5rem;
    border: 1px solid black;
    outline: inherit;
    padding: 0.5rem;
    font-size: 1rem;
}

.pesquisas button {
    height: 3rem;
    background-color: orange;
    border: none;
    color: white;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
}

p {
    color: white;
    text-align: start;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#description {
    text-align: justify;
    background-color: rgba(50, 0, 90, 0.247);
    padding: 1rem;
    border-radius: 1rem;
    height: auto;
    width: 40rem;
}

.container a {
    background-color: orange;
    padding: 1rem;
    border-radius: 1rem;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
}

.pages button {
    background-color: rgba(255, 166, 0, 0.678);
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    color: white;
    cursor: pointer;
    margin-right: -1rem;
    transition: background-color 0.5s ease;
    height: 2rem;
}

.pages button:hover {
    background-color: orange;
}

.pages {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.pages img {
    cursor: pointer;
}

.pages img:hover {
    filter: sepia(100%) brightness(40%) contrast(120%);
}

.flex {
    display: flex;
    flex-wrap: wrap; 
    gap: 1rem; 
    width: 100%;
    justify-content: center;
}

#NovoEstilo {
    display: flex;
    border: 1px solid black;
    padding: 0.5rem;
    background-color: rgb(50, 0, 90);
    border-radius: 1rem;
    width: 30rem;
    margin: 1rem;
    height: auto;
}

#titulo_livros {
    text-align: center;
    display: flex;
    color: white;
    padding: 1rem;
    font-size: 1.5rem;
    justify-content: space-around;
    border-bottom: 2px white solid;
}

#alinhar_estante {
    text-align: center;
}

#titulo_livros a {
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

#titulo_livros a:hover {
    color: orange;
    transition: color 0.2s ease;
}

#alerta {
    color: rgb(0, 0, 0);
    margin-bottom: -0.5rem;
    background-color: orange;
    padding: 0.5rem;
    border-radius: 1rem;
}

.ocultar {
    display: none;
}

.pagina h5 {
    color: white;
    font-size: 1rem;
}

.pagina span {
    color: rgb(145, 255, 0);
}

@media (max-width: 768px) {
    #content, #NovoEstilo {
        width: 24rem;
    }

    .items {
        margin-left: 1;
    }

    .pages {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 15rem;
    }

    .pages button {
        margin-right: 0;
        margin-bottom: 0.5rem;
    }

    .pages img {
        height: 1rem;
    }

    .ser {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .pesquisas input{
        width: 70%;
        margin-top: 1rem;
    }

    .pesquisas button {
        width: 30%;
        margin-top: 1rem;
    }

    #description {
        width: 90%;
        max-width: none;
        text-align: center;
    }

    #titulo_livros {
        font-size: 1.2rem;
    }
}
